**Business Understanding**

สุขภาพจิต

**Data Understanding**

Superstore file in Excel format

In [7]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np

In [6]:

df1=pd.read_csv('OS_05_0002_01.csv')

In [4]:
df1.head()

,year,labor_status,work_status,value,unit,source
0,2557,รวม,รวม,31.48,คะแนน,สำนักงานสถิติแห่งชาติ
1,2557,ผู้อยู่ในกำลังแรงงาน,รวม,31.66,คะแนน,สำนักงานสถิติแห่งชาติ
2,2557,ผู้อยู่ในกำลังแรงงาน,ผู้มีงานทำ,31.68,คะแนน,สำนักงานสถิติแห่งชาติ
3,2557,ผู้อยู่ในกำลังแรงงาน,ผู้ว่างงาน,30.10,คะแนน,สำนักงานสถิติแห่งชาติ
4,2557,ผู้อยู่ในกำลังแรงงาน,ผู้รอฤดูกาล,29.69,คะแนน,สำนักงานสถิติแห่งชาติ

In [5]:
df1

,year,labor_status,work_status,value,unit,source
0,2557,รวม,รวม,31.48,คะแนน,สำนักงานสถิติแห่งชาติ
1,2557,ผู้อยู่ในกำลังแรงงาน,รวม,31.66,คะแนน,สำนักงานสถิติแห่งชาติ
2,2557,ผู้อยู่ในกำลังแรงงาน,ผู้มีงานทำ,31.68,คะแนน,สำนักงานสถิติแห่งชาติ
3,2557,ผู้อยู่ในกำลังแรงงาน,ผู้ว่างงาน,30.10,คะแนน,สำนักงานสถิติแห่งชาติ
4,2557,ผู้อยู่ในกำลังแรงงาน,ผู้รอฤดูกาล,29.69,คะแนน,สำนักงานสถิติแห่งชาติ
5,2557,ผู้อยู่นอกกำลังแรงงาน,รวม,31.05,คะแนน,สำนักงานสถิติแห่งชาติ
6,2557,ผู้อยู่นอกกำลังแรงงาน,ทำงานบ้าน,31.04,คะแนน,สำนักงานสถิติแห่งชาติ
7,2557,ผู้อยู่นอกกำลังแรงงาน,เรียนหนังสือ,32.15,คะแนน,สำนักงานสถิติแห่งชาติ
8,2557,ผู้อยู่นอกกำลังแรงงาน,อื่นๆ,30.69,คะแนน,สำนักงานสถิติแห่งชาติ
9,2558,รวม,รวม,31.44,คะแนน,สำนักงานสถิติแห่งชาติ
10,2558,ผู้อยู่ในกำลังแรงงาน,รวม,31.62,คะแนน,สำนักงานสถิติแห่งชาติ
11,2558,ผู้อยู่ในกำลังแรงงาน,ผู้มีงานทำ,31.64,คะแนน,สำนักงานสถิติแห่งชาติ
12,2558,ผู้อยู่ในกำลังแรงงาน,ผู้ว่างงาน,29.04,คะแนน,สำนักงานสถิติแห่งชาติ
13,2558,ผู้อยู่ในกำลังแรงงาน,ผู้รอฤดูกาล,31.09,คะแนน,สำนักงานสถิติแห่งชาติ
14,2558,ผู้อยู่นอกกำลังแรงงาน,รวม,31.01,คะแนน,สำนักงานสถิติแห่งชาติ
15,2558,ผู้อยู่นอกกำลังแรงงาน,ทำงานบ้าน,30.99,คะแนน,สำนักงานสถิติแห่งชาติ
16,2558,ผู้อยู่นอกกำลังแรงงาน,เรียนหนังสือ,32.06,คะแนน,สำนักงานสถิติแห่งชาติ
17,2558,ผู้อยู่นอกกำลังแรงงาน,อื่นๆ,30.74,คะแนน,สำนักงานสถิติแห่งชาติ

**Data Preparation**

**Modeling**

**Evalution**

**Deployment**