**Business Understanding**

สุขภาพจิต

**Data Understanding**

Superstore file in Excel format

In [2]:
import pandas as pd
df1=pd.read_csv('OS_05_0002_01.csv')

In [3]:
df1.head()

,year,labor_status,work_status,value,unit,source
0,2557,รวม,รวม,31.48,คะแนน,สำนักงานสถิติแห่งชาติ
1,2557,ผู้อยู่ในกำลังแรงงาน,รวม,31.66,คะแนน,สำนักงานสถิติแห่งชาติ
2,2557,ผู้อยู่ในกำลังแรงงาน,ผู้มีงานทำ,31.68,คะแนน,สำนักงานสถิติแห่งชาติ
3,2557,ผู้อยู่ในกำลังแรงงาน,ผู้ว่างงาน,30.10,คะแนน,สำนักงานสถิติแห่งชาติ
4,2557,ผู้อยู่ในกำลังแรงงาน,ผู้รอฤดูกาล,29.69,คะแนน,สำนักงานสถิติแห่งชาติ

**Data Preparation**

**Modeling**

**Evalution**

**Deployment**