**Business Understanding**

Thailand Happiness

find cluster

**Data Understanding**

Superstore file in csv format

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.metrics import silhouette_samples,silhouette_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from yellowbrick.cluster import SilhouetteVisualizer
from sklearn import preprocessing
from sklearn.cluster import KMeans

In [2]:
df1=pd.read_excel('rankhappy.xls')

**Data Preparation**

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1949 non-null   object
 1   year                              1949 non-null   int64
 2   Life Ladder                       1949 non-null   float64
 3   Log GDP per capita                1913 non-null   float64
 4   Social support                    1936 non-null   float64
 5   Healthy life expectancy at birth  1894 non-null   float64
 6   Freedom to make life choices      1917 non-null   float64
 7   Generosity                        1860 non-null   float64
 8   Perceptions of corruption         1839 non-null   float64
 9   Positive affect                   1927 non-null   float64
 10  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 167.6+ KB

In [4]:
df1.tail()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1944,Zimbabwe,2016,3.735400,7.984372,0.768425,54.400002,0.732971,-0.094634,0.723612,0.737636,0.208555
1945,Zimbabwe,2017,3.638300,8.015738,0.754147,55.000000,0.752826,-0.097645,0.751208,0.806428,0.224051
1946,Zimbabwe,2018,3.616480,8.048798,0.775388,55.599998,0.762675,-0.068427,0.844209,0.710119,0.211726
1947,Zimbabwe,2019,2.693523,7.950132,0.759162,56.200001,0.631908,-0.063791,0.830652,0.716004,0.235354
1948,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,0.345736

In [5]:
df1.sample(10)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
99,Azerbaijan,2012,4.910772,9.548524,0.761873,63.880001,0.598859,-0.139939,0.763155,0.553869,0.266093
1480,Saudi Arabia,2019,6.561247,10.757097,0.911718,66.599998,0.891087,-0.146843,NaN,0.731764,0.237737
524,El Salvador,2017,6.339318,9.042402,0.828953,65.800003,0.757827,-0.171884,0.777749,0.848851,0.268448
323,Chad,2016,4.029350,7.430738,0.616205,47.200001,0.525222,0.052052,0.819789,0.582458,0.467567
486,Ecuador,2009,6.021803,9.225117,0.779398,66.620003,0.736881,-0.108082,0.774305,0.840363,0.255968
1267,Nigeria,2006,4.709746,8.326130,0.735179,44.119999,0.649140,0.084854,0.870749,0.781400,0.178237
1885,Venezuela,2012,7.066577,9.826082,0.931630,65.779999,0.804109,-0.192730,0.743374,0.857873,0.176308
1477,Saudi Arabia,2016,6.473921,10.791937,0.889932,65.699997,0.774268,-0.132316,NaN,0.792999,0.266293
14,Albania,2010,5.268937,9.303230,0.733152,66.400002,0.568958,-0.172107,0.726262,0.647908,0.300060
1466,Rwanda,2019,3.268152,7.708061,0.489458,61.700001,0.868999,0.064066,0.167971,0.736068,0.417668

In [6]:
df1.Date=pd.to_datetime(df1.year,format="%Y")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11000\3473606719.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.Date=pd.to_datetime(df1.year,format="%Y")

In [7]:
df1.set_index('year',inplace=True)

In [8]:
df1=df1[df1['Country name'] == 'Thailand']

In [9]:
df1

,Country name,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
year,,,,,,,,,,
2006,Thailand,5.885433,9.461148,0.894327,64.139999,0.863195,0.331460,0.934745,0.813509,0.164123
2007,Thailand,5.783891,9.508475,0.888634,64.480003,0.870159,0.390946,0.897753,0.831810,0.180010
2008,Thailand,5.636471,9.520327,0.831711,64.820000,0.867834,0.425482,0.933373,0.819038,0.145059
2009,Thailand,5.475645,9.508361,0.893245,65.160004,0.868224,0.524908,0.903822,0.897641,0.166086
2010,Thailand,6.216703,9.575911,0.897651,65.500000,0.859636,0.535985,0.916693,0.901268,0.181523
2011,Thailand,6.663609,9.579475,0.884351,65.720001,0.926882,0.400159,0.923196,0.934374,0.116676
2012,Thailand,6.300235,9.644709,0.906098,65.940002,0.846933,0.379859,0.908612,0.854544,0.137503
2013,Thailand,6.231025,9.666691,0.926378,66.160004,0.781082,0.456227,0.925430,0.845981,0.140831
2014,Thailand,6.985464,9.672178,0.933167,66.379997,0.899846,0.552521,0.919834,0.811370,0.168738
2015,Thailand,6.201763,9.699015,0.866325,66.599998,0.884917,0.315948,0.913651,0.910497,0.174081
2016,Thailand,6.073640,9.729001,0.907544,66.800003,0.924146,0.355719,0.877978,0.834758,0.217880
2017,Thailand,5.938895,9.765407,0.877269,67.000000,0.922897,0.212491,0.883817,0.816322,0.231598
2018,Thailand,6.011562,9.802921,0.873052,67.199997,0.904828,0.258844,0.906596,0.843489,0.198190
2019,Thailand,6.022151,9.823529,0.903051,67.400002,0.898245,0.308830,0.877040,0.842873,0.208184
2020,Thailand,5.884544,9.769243,0.866703,67.599998,0.840463,0.273056,0.918340,0.783270,0.326169

In [10]:
df1.columns

Index(['Country name', 'Life Ladder', 'Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption', 'Positive affect',
       'Negative affect'],
      dtype='object')

In [11]:
df1=df1.rename(columns={'Country name':'Country_name',
                        'Life Ladder':'Life_Ladder',
                        'Log GDP per capita':'Log_GDP_per_capita',
                        'Social support':'Social_support',
       'Healthy life expectancy at birth':'Healthy_life_expectancy_at_birth', 
                        'Freedom to make life choices':'Freedom_to_make_life_choices',
       'Generosity':'Generosity',
                        'Perceptions of corruption':'Perceptions_of_corruption',
                        'Perceptions of corruption':'Positive_affect',
       'Negative affect':'Negative_affect'
                       })

In [12]:
df1.columns

Index(['Country_name', 'Life_Ladder', 'Log_GDP_per_capita', 'Social_support',
       'Healthy_life_expectancy_at_birth', 'Freedom_to_make_life_choices',
       'Generosity', 'Positive_affect', 'Positive affect', 'Negative_affect'],
      dtype='object')

In [13]:
df1.isnull().sum()

Country_name                        0
Life_Ladder                         0
Log_GDP_per_capita                  0
Social_support                      0
Healthy_life_expectancy_at_birth    0
Freedom_to_make_life_choices        0
Generosity                          0
Positive_affect                     0
Positive affect                     0
Negative_affect                     0
dtype: int64

select data

In [16]:
colss=['Life_Ladder', 'Log_GDP_per_capita', 'Social_support','Healthy_life_expectancy_at_birth',
       'Freedom_to_make_life_choices', 
       'Generosity', 'Positive_affect', 'Positive affect', 'Negative_affect']

In [17]:
scaler=preprocessing.PowerTransformer(standardize=True)
S1=scaler.fit_transform(df1[colss])
S1[:7].round(4)

array([[-0.4889, -1.6087,  0.1168, -1.6883, -0.5233, -0.4544,  1.6665,
        -0.8834, -0.2844],
       [-0.8354, -1.2212, -0.1209, -1.4397, -0.3406,  0.1595, -0.7584,
        -0.3197,  0.1391],
       [-1.3873, -1.1228, -2.1343, -1.1767, -0.4027,  0.4946,  1.5494,
        -0.7048, -0.8876],
       [-2.0641, -1.2221,  0.0711, -0.8987, -0.3924,  1.3824, -0.4503,
         1.1771, -0.2285],
       [ 0.4802, -0.6545,  0.259 , -0.6048, -0.613 ,  1.4748,  0.3089,
         1.2404,  0.1761],
       [ 1.4803, -0.624 , -0.295 , -0.4058,  1.5715,  0.2503,  0.7546,
         1.7483, -2.0269],
       [ 0.6909, -0.0583,  0.6319, -0.1996, -0.9135,  0.0487, -0.1855,
         0.281 , -1.1599]])

In [18]:
X2=pd.DataFrame(S1,columns=colss)
X2

,Life_Ladder,Log_GDP_per_capita,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Positive_affect,Positive affect,Negative_affect
0,-0.488881,-1.608657,0.116805,-1.688276,-0.523344,-0.454364,1.666541,-0.883384,-0.284443
1,-0.835404,-1.221190,-0.120868,-1.439679,-0.340634,0.159480,-0.758425,-0.319707,0.139063
2,-1.387326,-1.122848,-2.134271,-1.176749,-0.402740,0.494579,1.549395,-0.704841,-0.887579
3,-2.064066,-1.222137,0.071096,-0.898727,-0.392402,1.382370,-0.450306,1.177055,-0.228491
4,0.480227,-0.654489,0.259009,-0.604846,-0.612978,1.474844,0.308889,1.240404,0.176107
5,1.480286,-0.624047,-0.294976,-0.405846,1.571502,0.250335,0.754607,1.748306,-2.026930
6,0.690936,-0.058254,0.631883,-0.199632,-0.913509,0.048706,-0.185524,0.281048,-1.159933
7,0.517225,0.136177,1.598509,0.014033,-2.069494,0.780790,0.918505,0.066608,-1.037461
8,2.038188,0.185013,1.945971,0.235385,0.557590,1.610661,0.518563,-0.954522,-0.154602
9,0.441237,0.425581,-0.985112,0.464689,0.080434,-0.622652,0.115385,1.394310,-0.011402
10,0.089554,0.697821,0.697394,0.680263,1.459272,-0.198155,-1.579697,-0.235925,0.922921
11,-0.316512,1.033266,-0.574170,0.902807,1.408804,-1.843940,-1.363419,-0.791621,1.144707
12,-0.092660,1.384652,-0.735382,1.132533,0.729237,-1.274343,-0.299411,0.001615,0.550503
13,-0.061003,1.580178,0.495431,1.369660,0.503768,-0.701082,-1.612628,-0.014650,0.748137
14,-0.491802,1.068934,-0.971319,1.614386,-1.055505,-1.107229,0.417524,-2.004696,2.109404

In [19]:
def sil_score(X2,from_k=2,to_k=6):
    sils=[]
    for k in range(from_k,to_k+1):
        m=KMeans(n_clusters=k)
        m.fit(X2)
        silhouette_avg=silhouette_score(X2,m.labels_).round(4)
        sils.append([silhouette_avg,k])
        
    return sils

In [20]:
ss=sil_score(X2,2,5)
print(f'score={ss}')

score=[[0.2868, 2], [0.2626, 3], [0.2562, 4], [0.246, 5]]

**Modeling**

In [ ]:
from yellowbrick.cluster import SilhouetteVisualizer

In [ ]:
cols1=['Life_Ladder', 'Log_GDP_per_capita', 'Social_support',
       'Freedom_to_make_life_choices', 
       'Generosity', 'Positive_affect', 'Positive affect', 'Negative_affect']

In [ ]:
scaler=preprocessing.PowerTransformer(standardize=True)
S=scaler.fit_transform(df1[cols1])
S[:7].round(4)

In [ ]:
X11=pd.DataFrame(X2,columns=cols1)
X11.head()

In [ ]:
model=KMeans(n_clusters=2)

In [ ]:
scaler=preprocessing.PowerTransformer(standardize=True)

S=scaler.fit_transform(df1[cols1])
S[:7].round(3)

In [ ]:
visualizer=SilhouetteVisualizer(model)
visualizer.fit(X11)
visualizer.poof()

In [ ]:
dx=X11
dx['cluster']=model.labels_
dx

In [ ]:
df1['cluster']=model.labels_
df1

**Evalution**

In [ ]:
visualizer.silhouette_score_

In [ ]:
print('Score -> {:.2f}'.format(visualizer.silhouette_score_))

**Deployment**

สรุปความเเม่นย้ำ