**Business Understanding**

สุขภาพจิต

**Data Understanding**

Superstore file in Excel format

In [14]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np

In [31]:
df1=pd.read_csv('Thailand Happiness.csv.csv')

**Data Preparation**

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           9 non-null      object
 1   Happiness Rank (158)           9 non-null      float64
 2   Happiness Score(10)            9 non-null      float64
 3   Economy (GDP per Capita)       9 non-null      float64
 4   Family                         9 non-null      float64
 5   Health (Life Expectancy)       9 non-null      float64
 6   Freedom                        9 non-null      float64
 7   Trust (Government Corruption)  9 non-null      float64
 8   Generosity                     9 non-null      float64
 9   Dystopia Residual              9 non-null      float64
dtypes: float64(9), object(1)
memory usage: 928.0+ bytes

In [26]:
df1.tail()

,Year,Happiness Rank (158),Happiness Score(10),Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
5,2020,54.00,5.9990,1.007000,1.348000,0.794000,0.609,0.032000,0.377000,1.832000
6,2021,54.00,5.9850,1.107000,0.957000,0.596000,0.611,0.028000,0.375000,2.309000
7,2022,61.00,5.8910,1.535000,1.096000,0.697000,0.617,0.000000,0.321000,1.600000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,average,45.75,6.1635,1.112375,1.245375,0.707125,0.583,0.029375,0.441375,2.329074

In [32]:
df1.drop(9,inplace=True)

In [33]:
df1.drop(8,inplace=True)

In [34]:
df1.tail()

,Year,Happiness Rank (158),Happiness Score(10),Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
3,2018,46.0,6.072,1.016,1.417,0.707,0.637,0.029,0.364,2.738
4,2019,52.0,6.008,1.050,1.409,0.828,0.557,0.028,0.359,3.215
5,2020,54.0,5.999,1.007,1.348,0.794,0.609,0.032,0.377,1.832
6,2021,54.0,5.985,1.107,0.957,0.596,0.611,0.028,0.375,2.309
7,2022,61.0,5.891,1.535,1.096,0.697,0.617,0.000,0.321,1.600

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           8 non-null      object
 1   Happiness Rank (158)           8 non-null      float64
 2   Happiness Score(10)            8 non-null      float64
 3   Economy (GDP per Capita)       8 non-null      float64
 4   Family                         8 non-null      float64
 5   Health (Life Expectancy)       8 non-null      float64
 6   Freedom                        8 non-null      float64
 7   Trust (Government Corruption)  8 non-null      float64
 8   Generosity                     8 non-null      float64
 9   Dystopia Residual              8 non-null      float64
dtypes: float64(9), object(1)
memory usage: 768.0+ bytes

**Modeling**

**Evalution**

**Deployment**