**Business Understanding**

สุขภาพจิต

**Data Understanding**

Superstore file in Excel format

In [7]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np

In [6]:
df1=pd.read_csv('OS_05_0002_01.csv')

In [4]:
df1.head()

,year,labor_status,work_status,value,unit,source
0,2557,รวม,รวม,31.48,คะแนน,สำนักงานสถิติแห่งชาติ
1,2557,ผู้อยู่ในกำลังแรงงาน,รวม,31.66,คะแนน,สำนักงานสถิติแห่งชาติ
2,2557,ผู้อยู่ในกำลังแรงงาน,ผู้มีงานทำ,31.68,คะแนน,สำนักงานสถิติแห่งชาติ
3,2557,ผู้อยู่ในกำลังแรงงาน,ผู้ว่างงาน,30.10,คะแนน,สำนักงานสถิติแห่งชาติ
4,2557,ผู้อยู่ในกำลังแรงงาน,ผู้รอฤดูกาล,29.69,คะแนน,สำนักงานสถิติแห่งชาติ

In [10]:
df1.shape

(18, 6)

In [13]:
df1.describe()

              year     value
count    18.000000  18.00000
mean   2557.500000  31.06500
std       0.514496   0.80549
min    2557.000000  29.04000
25%    2557.000000  30.80250
50%    2557.500000  31.07000
75%    2558.000000  31.63500
max    2558.000000  32.15000

In [12]:
df1.dtypes

year              int64
labor_status     object
work_status      object
value           float64
unit             object
source           object
dtype: object

In [17]:
a1=df1[['labor_status'],['work_']]

labor_status    object
dtype: object

**Data Preparation**

**Modeling**

**Evalution**

**Deployment**