**Business Understanding**

สุขภาพจิต

**Data Understanding**

Superstore file in Excel format

In [2]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np

In [3]:
df1=pd.read_csv('Thailand Happiness.csv.csv')

**Data Preparation**

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           9 non-null      object
 1   Happiness Rank (158)           9 non-null      float64
 2   Happiness Score(10)            9 non-null      float64
 3   Economy (GDP per Capita)       9 non-null      float64
 4   Family                         9 non-null      float64
 5   Health (Life Expectancy)       9 non-null      float64
 6   Freedom                        9 non-null      float64
 7   Trust (Government Corruption)  9 non-null      float64
 8   Generosity                     9 non-null      float64
 9   Dystopia Residual              9 non-null      float64
dtypes: float64(9), object(1)
memory usage: 928.0+ bytes

In [10]:
df1

,Year,Happiness Rank (158),Happiness Score(10),Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,2015,34.00,6.4550,0.967000,1.265000,0.739000,0.557,0.032000,0.576000,2.319000
1,2016,33.00,6.4740,1.089000,1.045000,0.649000,0.496,0.028000,0.587000,2.580000
2,2017,32.00,6.4240,1.128000,1.426000,0.647000,0.580,0.032000,0.572000,2.040000
3,2018,46.00,6.0720,1.016000,1.417000,0.707000,0.637,0.029000,0.364000,2.738000
4,2019,52.00,6.0080,1.050000,1.409000,0.828000,0.557,0.028000,0.359000,3.215000
5,2020,54.00,5.9990,1.007000,1.348000,0.794000,0.609,0.032000,0.377000,1.832000
6,2021,54.00,5.9850,1.107000,0.957000,0.596000,0.611,0.028000,0.375000,2.309000
7,2022,61.00,5.8910,1.535000,1.096000,0.697000,0.617,0.000000,0.321000,1.600000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,average,45.75,6.1635,1.112375,1.245375,0.707125,0.583,0.029375,0.441375,2.329074

**Modeling**

**Evalution**

**Deployment**