# Data Science Project Structure and Life Cycle

- Data Science Project Structure 
- Data Science Life Cycle and processes

## Data Science Project Structure

### Data science project template

https://github.com/makcedward/ds_project_template

#### Experiment Quran Dataset

Check this of my experiment Quran Dataset using Data science project template https://github.com/langsari/quran-dataset

<img src="images/ds-project-structure.png">

### Cookiecutter Data Science

A logical, reasonably standardized, but flexible project structure for doing and sharing data science work.

https://drivendata.github.io/cookiecutter-data-science/

install

`pip install cookiecutter`

Starting a new project

`cookiecutter https://github.com/drivendata/cookiecutter-data-science`

<img src="images/cookiecutter-data-science-project-template.png">

## Data Science Life Cycle and Processes

This process refer to CRISP-DM process

More detial 
1. https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining
2. https://www.datascience-pm.com/crisp-dm-2/
3. https://datacubeth.ai/crisp-dm/

### Step 1: Business Understanding
<strong>Target</strong>: What does the business need?<br>
<strong>Phase</strong>: 
- Determine business objectives; 
- assess situation; 
- determine data mining goals; 
- produce project plan

<strong>Resonsible</strong>: Product Owner, Business Analyst. Data Expert

WHAT prediction of price for shipping

### Step 2: Data Understanding
<strong>Target</strong>: What data do we have / need? Is it clean?<br>
<strong>Phases</strong>: 
- collect initial data; 
- describe data; 
- explore data; 
- verify data quality<br>

<strong>Resonsible</strong>: Data Engineer, Data Scientist, Data Analyst

In [1]:
import pandas as pd

data = pd.read_excel('dataset/Superstore.xlsx')

In [2]:
data.head(10)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,...,West,Washington,Anacortes,98221,2013-07-01,2013-07-08,1001.4453,12,1451.37,88526
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.3665,12,6362.85,90193
8,19483,Low,0.08,6.48,6.81,5,Ronnie Proctor,Regular Air,Home Office,Office Supplies,...,West,California,San Gabriel,91776,2012-05-12,2012-05-21,-141.2600,18,113.25,90197
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,West,California,San Jose,95123,2011-05-26,2011-05-26,1045.4673,16,1515.17,90194

In [3]:
data.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9354.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000
mean,20241.015277,0.049628,88.303686,12.795142,1738.422236,0.512189,52446.327286,139.236410,13.798430,949.706272,82318.489073
std,6101.890965,0.031798,281.540982,17.181203,979.167197,0.135229,29374.597802,998.486483,15.107688,2598.019818,19149.448857
min,2.000000,0.000000,0.990000,0.490000,2.000000,0.350000,1001.000000,-16476.838000,1.000000,1.320000,6.000000
25%,19330.250000,0.020000,6.480000,3.192500,898.000000,0.380000,29406.000000,-74.017375,5.000000,61.282500,86737.250000
50%,21686.500000,0.050000,20.990000,6.050000,1750.000000,0.520000,52302.000000,2.567600,10.000000,203.455000,88344.500000
75%,24042.750000,0.080000,85.990000,13.990000,2578.750000,0.590000,78516.000000,140.243850,17.000000,776.402500,89987.750000
max,26399.000000,0.250000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,16332.414000,170.000000,100119.160000,91591.000000

### Step 3: Data Preparation
<strong>Target</strong>: How do we organize the data for modeling?<br>
<strong>Phases</strong>: Generally, the most time-consuming phase, 
- select data; 
- clean data; 
- construct data;
- integrate data; 
- format data

<strong>Resonsible</strong>: Data Engineer, Data Analyst

### Step 4: Modeling Select
<strong>Target</strong>: What modeling techniques should we apply? <br>
<strong>Phases</strong>: 
- Modeling technique; 
- generate test design; 
- build model; 
- assess model

<strong>Resonsible</strong>: Data Scientist

### Step 5: Evaluation
<strong>Target</strong>: Which model best meets the business objectives?<br>

<strong>Phases</strong>: 
- Evaluate results;
- review process;
- determine next steps

<strong>Resonsible</strong>: Business Analyst, Data Scientist

### Step 6: Deployment
<strong>Target</strong>: How do stakeholders access the results?<br>
<strong>Phases</strong>: 
- Plan deployment; 
- plan monitoring and maintenance; 
- produce final report; 
- review project

<strong>Resonsible</strong>: Software Developer, Business Analyst