# Project Design

Planing Project<ol>
    <li>**Module**<ol>
        <li>Libraries needed
        <li>Import</ol>
    <li>Data Preparation
    <li>Data Exploration
    <li>Data Modeling
    <li>Presentation and automation</ol>

# Libraries needed

**From**

`sklearn`

`keras`

**Import**

`pandas as pd`

`seaborn as sns`

`datetime`

`numpy as np`

`featurewiz as FW`

`preprocessing`

`LabelEncoder`

`StandardScaler`

`train_test_split`

`Dense, BatchNormalization, Dropout, LSTM`

`Sequential`

`to_categorical`

`Adam`

`regularizers`

`Precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score`

`callbacks`

# IMPORT

`Import Liraries`

In [37]:
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import pandas as pd
import numpy as np
import featurewiz as FW
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from keras.layers import Dense, BatchNormalization, Dropout, LSTM
from keras.models import Sequential
from keras.utils import to_categorical
from keras.optimizers import Adam
from keras import regularizers
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
from keras import callbacks

np.random.seed (0)

In [38]:
# A=[1,5,4]
# B=[2,6,7]
# C=[3,8,9]
# pd.DataFrame(np.array([A,B,C]), columns = ["A","B","C"])

# DATASET 4 Center Porvince In Thailand

In [43]:
data1=pd.read_csv("C:/Users/TUF GAMING/Documents/GitHub/data-science-with-python-2022/Rain_Prediction/6months_forecast-rainfall.csv")
data1.head()

,Initial_Year,Initial_Month,Forecast_Year,Foreast_Month,Province_ID,Province_NameEN,Province_NameTH,Rainfall(mm)
0,2022,1,2022,1,10,Bangkok,กรุงเทพมหานคร,0.00
1,2022,1,2022,1,11,Samut Prakan,สมุทรปราการ,0.00
2,2022,1,2022,1,12,Nonthaburi,นนทบุรี,0.00
3,2022,1,2022,1,13,Pathum Thani,ปทุมธานี,0.00
4,2022,1,2022,1,14,Phra Nakhon Si Ayutthaya,พระนครศรีอยุธยา,0.06

In [44]:
data2=pd.read_csv("C:/Users/TUF GAMING/Documents/GitHub/data-science-with-python-2022/Rain_Prediction/dsl_dry-wet.csv")
data2.head()

   ProvinceID           Province_Name  Year  DSL (Day) Season
0          10                 Bangkok  2011       58.0    Dry
1          11           Samut Prakarn  2011       50.0    Dry
2          12              Nonthaburi  2011       58.0    Dry
3          13            Pathum Thani  2011       58.0    Dry
4          14  Phra Nakhon Si Ayudhya  2011       58.0    Dry

In [41]:
data3=pd.read_csv("C:/Users/TUF GAMING/Documents/GitHub/data-science-with-python-2022/Rain_Prediction/r35mm_dry-wet.csv")
data3.head()

   ProvinceID           Province_Name  Year  R35mm (Day) Season
0          10                 Bangkok  2011          2.0    Dry
1          11           Samut Prakarn  2011          0.0    Dry
2          12              Nonthaburi  2011          2.0    Dry
3          13            Pathum Thani  2011          1.0    Dry
4          14  Phra Nakhon Si Ayudhya  2011          0.0    Dry

In [42]:
data4=pd.read_csv("C:/Users/TUF GAMING/Documents/GitHub/data-science-with-python-2022/Rain_Prediction/tmax-tmin.csv")
data4.head()

   Year  Month  ProvinceID     ProvinceName  Tmax  Tmin
0  2019      1          10    กรุงเทพมหานคร  37.3  18.7
1  2019      1          11      สมุทรปราการ  32.2  23.9
2  2019      1          13         ปทุมธานี  36.5  20.0
3  2019      1          14  พระนครศรีอยุธยา  36.5  18.5
4  2019      1          16           ลพบุรี  35.5  16.2

# Create New DataFrame

In [62]:
df_Rain = pd.DataFrame(
    {
        "ID": [1, 2, 3, 4,5],
        "Province_Name[EN]": [
            "Bangkok","SamutPrakarn",
            "PathumThani","Ayudhya",
            "Nonthaburi"
        ],
        "Province_Name[TH]": [
            "กรุงเทพ","สมุทรปราการ",
            "ปทุมทานี","อยุธยา",
            "นนทบุรี"
        ],
        "Year":  [2022, 2022, 2022, 2022, 2022],
        "Month": [1, 1, 1, 1, 1],
        "Day":   [1,1,1,1,1],
        "Tmax":  [37.3, 32.2, 36.5, 36., 35.5],
        "Tmin":  [18.7, 23.9, 20.0, 18.5, 16.2],
        "Season": ['Dry', 'Dry', 'Dry', 'Dry', 'Dry'],
        
        "Rainfall(mm)": [0,0,0,0,0.9],
        "DSL (Day)":    [58.0, 58.0, 58.0, 58.0, 58.0],
        "R35mm (Day)":  [2.0, 0.0, 2.0, 1.0, 0.0],
    }
)

df_Rain

,ID,Province_Name[EN],Province_Name[TH],Year,Month,Day,Tmax,Tmin,Season,Rainfall(mm),DSL (Day),R35mm (Day)
0,1,Bangkok,กรุงเทพ,2022,1,1,37.3,18.7,Dry,0.0,58.0,2.0
1,2,SamutPrakarn,สมุทรปราการ,2022,1,1,32.2,23.9,Dry,0.0,58.0,0.0
2,3,PathumThani,ปทุมทานี,2022,1,1,36.5,20.0,Dry,0.0,58.0,2.0
3,4,Ayudhya,อยุธยา,2022,1,1,36.0,18.5,Dry,0.0,58.0,1.0
4,5,Nonthaburi,นนทบุรี,2022,1,1,35.5,16.2,Dry,0.9,58.0,0.0