# Project Design

Planing Project<ol>
    <li>**Module**<ol>
        <li>Libraries needed
        <li>Import</ol>
    <li>Data Preparation
    <li>Data Exploration
    <li>Data Modeling
    <li>Presentation and automation</ol>

# Libraries needed

**From**

`sklearn`

`keras`

**Import**

`pandas as pd`

`seaborn as sns`

`datetime`

`numpy as np`

`featurewiz as FW`

`preprocessing`

`LabelEncoder`

`StandardScaler`

`train_test_split`

`Dense, BatchNormalization, Dropout, LSTM`

`Sequential`

`to_categorical`

`Adam`

`regularizers`

`Precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score`

`callbacks`

`pythainlp`

# IMPORT

`Import Liraries`

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import pandas as pd
import numpy as np
import featurewiz as FW
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from keras.layers import Dense, BatchNormalization, Dropout, LSTM
from keras.models import Sequential
from keras.utils import to_categorical
from keras.optimizers import Adam
from keras import regularizers
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
from keras import callbacks

np.random.seed (0)

Imported 0.2.04 version. Select nrows to a small number when running on huge datasets.
output = featurewiz(dataname, target, corr_limit=0.90, verbose=2, sep=',',
		header=0, test_data='',feature_engg='', category_encoders='',
		dask_xgboost_flag=False, nrows=None, skip_sulov=False)
Create new features via 'feature_engg' flag : ['interactions','groupby','target']

In [2]:
# A=[1,5,4]
# B=[2,6,7]
# C=[3,8,9]
# pd.DataFrame(np.array([A,B,C]), columns = ["A","B","C"])

# DATASET Hatyai city In Thailand

In [3]:
hy=pd.read_csv("C:/Users/TUF GAMING/Documents/GitHub/data-science-with-python-2022/Rain_Prediction/Rainfall_Hatyai.csv")
hy.head()

,Date,MO,YEAR,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,1,1,2021,Hatyai,24.34,27.35,0.6,NaN,NaN,W,...,4.36,4.93,17.52,85.50,100.51,100.40,8.0,NaN,25.56,27.40
1,2,1,2021,Hatyai,24.22,26.87,0.0,NaN,NaN,WNW,...,4.33,5.98,17.33,86.19,100.57,100.48,NaN,NaN,26.33,28.03
2,3,1,2021,Hatyai,24.43,27.33,0.0,NaN,NaN,WSW,...,3.70,7.12,18.13,88.62,100.60,100.50,NaN,2.0,26.88,28.46
3,4,1,2021,Hatyai,24.49,27.44,0.0,NaN,NaN,NE,...,3.56,7.76,18.55,90.69,100.59,100.47,NaN,NaN,27.30,28.65
4,5,1,2021,Hatyai,24.55,28.02,1.0,NaN,NaN,W,...,3.46,7.94,19.04,90.88,100.54,100.40,7.0,8.0,27.35,28.64

In [4]:
hy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           365 non-null    int64
 1   MO             365 non-null    int64
 2   YEAR           365 non-null    int64
 3   Location       365 non-null    object
 4   MinTemp        365 non-null    float64
 5   MaxTemp        365 non-null    float64
 6   Rainfall       363 non-null    float64
 7   Evaporation    0 non-null      float64
 8   Sunshine       0 non-null      float64
 9   WindGustDir    361 non-null    object
 10  WindGustSpeed  361 non-null    float64
 11  WindDir9am     300 non-null    object
 12  WindDir3pm     354 non-null    object
 13  WindSpeed9am   365 non-null    float64
 14  WindSpeed3pm   365 non-null    float64
 15  Humidity9am    365 non-null    float64
 16  Humidity3pm    365 non-null    float64
 17  Pressure9am    365 non-null    float64
 18  Pressure3pm    365 non-null    float64
 19  Cloud9am       128 non-null    float64
 20  Cloud3pm       134 non-null    float64
 21  Temp9am        365 non-null    float64
 22  Temp3pm        365 non-null    float64
dtypes: float64(16), int64(3), object(4)
memory usage: 65.7+ KB