# Football World Cup 2022

In [86]:
import pandas as pd
from scipy.stats import poisson

In [87]:
dataGroup = pd.read_html("https://www.wallchart.io/football/world-cup-2022.html")
datamatches = pd.read_csv("/Users/hilmanyusoh/Documents/PWFWCup 2022/clean_fifa_worldcup_matches.csv")
datafixture = pd.read_csv("/Users/hilmanyusoh/Documents/PWFWCup 2022/clean_fifa_worldcup_fixture.csv")

# 1.Calulate team strenght

In [94]:
# split dataframe into datahome and dataway
data_home = datamatches[["HomeTeam","HomeGoals","AwayGoals"]]
data_away = datamatches[["AwayTeam","HomeGoals","AwayGoals"]]

In [102]:
# rename columns
data_home = data_home.rename(columns={"HomeTeam": "Team", "HomeGoals": "GoalsScored", "AwayGoals": "GoalsConceded"})
data_away = data_away.rename(columns={"AwayTeam": "Team", "HomeGoals": "GoalsConceded", "AwayGoals": "GaolsScored"})

In [103]:
# concat data_home and data_away, group by team and calculate the mean
pd.concat([data_home, data_away], ignore_index=True).groupby('Team').mean()

              GoalsScored  GoalsConceded  GaolsScored
Team
Algeria          0.833333       1.461538     1.142857
Angola           0.000000       0.666667     0.500000
Argentina        1.913793       1.148148     1.130435
Australia        1.000000       1.937500     0.666667
Austria          2.285714       1.620690     0.733333
...                   ...            ...          ...
Uruguay          2.060606       1.321429     0.826087
Wales            2.000000       0.800000     0.500000
West Germany     2.500000       1.241935     1.500000
Yugoslavia       2.733333       1.272727     0.777778
Zaire            0.000000       4.666667     0.000000

[85 rows x 3 columns]